.chart-container {
  width: 100%;
  border-radius: var(--window-border-radius);
  background-color: var(--lighter-color);
  border-radius: 14px;
}

.window-header{
    background: var(--secondary-color);
    padding: .6rem 1.4rem;
    border-radius: 14px 14px 0 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .window-body {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(50px, 10vw);
  }
  

.pie-chart {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: conic-gradient(
    #24B3B8 var(--completed),
    #0F839D var(--completed) var(--total)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart-outline {
  display: flex; 
  justify-content: center;      
  align-items: center;
  border-radius: 50%;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 300px;
  background-color: var(--background-color);
}

.pie-chart::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--lighter-color);
  border-radius: 50%;
}

/* label content inside donut */
.pie-content { 
  position: relative;
  text-align: center;
}

.pie-content span { 
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.total-label { 
  display: block;
  font-size: .8rem;
  color: #333;
  margin-top: 4px;
}

/* right-side stats */
.chart-stats { 
  display: flex; 
  flex-direction: column; 
}

.stat-row { 
  display: flex; 
  gap: 12px; 
  align-items: center; 
  margin-bottom: 12px; 
}

.stat-label { 
  font-weight: 700; 
}

.stat-label.completed { 
  color: #1AAFB5; 
}

.stat-label.ongoing { 
  color: #0F839D; 
}

.stat-row.total .stat-label, 
.stat-row.total .stat-value { 
  font-weight: 800; 
}

.stats-separator { 
  border-top: 2px solid #333; 
  margin: 18px 0 10px; 
  width: 220px; 
}

