:root{
    --primary-color: #005CAB;
    --secondary-color: #9EDCEE;
    --lighter-color: #DCEEF3;
    --background-color: #FFFFFF;
    --highlight-color: #53B7FF;
  
    --primary-text-color: #535353;
    --secondary-text-color: #7E7C7C;
}