.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-form {
    background-color: white;
    width: 90vw;
    max-width: 600px;
    height: auto;
    max-height: 70vh;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.save-button {
    border-radius: 8px;
    border: none;
    display: block;
    margin-left: auto;
    padding: .6em 1.2em;
    width: 240px;
    height: 40px;
    font-weight: 600;
    background-color: #005CAB;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.save-button:hover {
    background-color: #9EDCEE;
    color: #005CAB;
    cursor: pointer;
}
